@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $dark-slate $navy;
}

body {
  width: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-track {
  background: $navy;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-slate;
  border: 0.3rem solid $navy;
  border-radius: 1rem;
}

/*  highlight */

::selection {
  background: $blue;
  color: $white;
}

/* root context */
#root,
#__next {
  isolation: isolate;
}
