$accent_brand_blue: #4f7396;
$accent_light_blue: #d1dbe8;
$black: #333333;
$borderGray: #c9c9c9;
$brand_blue: #1a80e5;
$brand_blue_dark: darken(#1a80e5, 10%); /* stylelint-disable function-no-unknown */
$brand_white: #e6f1ff;
$dark-slate: #495670;
$gray: #e8edf2;
$linkPurple: #551a8b;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$mint: #64ffda;
$navy: #0a192f;
$slate: #8892b0;
$white: #ffffff;
