@import '../../../styles/_variables.scss';

.checkbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  .checkbox_input {
    margin-right: 0.8rem;
  }

  .checkbox_label {
    vertical-align: middle;
    user-select: none; /* Prevents text selection for the label */
  }
}
