@import '../../styles/_variables.scss';

nav {
  height: 4.2rem;
  width: 100%;
  background-color: $lightest-navy;
  z-index: 5;
  display: flex;
  align-items: center;

  .nav_items {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;

    .nav_item {
      color: $white;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.8rem;
      cursor: pointer;

      &:last-of-type {
        margin-right: 3.2rem;

        @media screen and (max-width: 768px) {
          margin-right: 1.6rem;
        }
      }
    }
  }
}
