@import '../../styles/_variables.scss';

.hero {
  width: 100rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero_content {
    margin-top: 15rem;
    height: 28rem;
    padding: 1rem;

    header {
      margin-top: 1rem;

      h1 {
        display: flex;
        flex-direction: column;
        font-family: $font-mono;
        font-size: 4.8rem;
        line-height: 5.2rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        max-width: 52.5rem;
        border-bottom: 1px solid gray;
      }

      h2 {
        font-family: $font-sans;
        margin-top: 2rem;
        max-width: 52rem;
        font-size: 2.8rem;
        line-height: 3.2rem;
        letter-spacing: -0.01px;
        font-weight: 600;
      }
    }
  }

  .hero_button {
    margin-top: 2.5rem;
    border-radius: 4rem;
    background-color: $blue;
    font-weight: 700;
    font-size: 2rem;
    color: $white;
    padding: 1.5rem 3rem;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}
