@import '../../../styles/_variables.scss';

.form_input_wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .form_input {
    height: 5.6rem;
    width: inherit;
    border: 0.5px solid gray;
    border-radius: $border-radius-sm;
  }
}
